{% extends 'base.html.twig' %}

{% block title %}Pages {{ pages.name }}{% endblock %}

{% block body %}
    <h1>Hellow {{ text }}</h1>
    <a href="{{ path('admin_pages_new') }}"><b>ADD</b></a><br>
    <p><img src="{{ asset('image/2.jpg') }}"></p>
{% endblock %}
